body {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400px;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 35%,
    rgba(253, 29, 29, 1) 68%,
    rgba(252, 176, 69, 1) 93%
  );
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  /* background: linear-gradient(90deg, #ffd700, #ff8c00, #ffd700); */
  background: linear-gradient(90deg, #ff7e5f, #feb47b);

  -webkit-background-clip: text;
  -webkit-text-stroke: 1px #d6189d;
  /* color: #333333ac; */
  /* text-shadow: 2px 2px #bbb, 4px 4px #aaa, 6px 6px #999, 8px 8px #888; */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff;
  animation: flicker 2s infinite alternate;
  background-size: 200% 100%;
  animation: shimmer 3s infinite linear;
  animation: wave 1.5s infinite ease-in-out;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#mood {
  margin: 90px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Rubik Wet Paint", system-ui;
  border: none;
  background-color: rgb(196, 102, 240);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f54dac;
  animation: spin 0.5s ease-in;
  font-size: 2.5em;
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14,
    0 0 40px #39ff14;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#music-display {
  margin-top: auto;
}

#music-display h2 {
  color: #333;
  font-size: 24px;
}

#music-display div {
  margin: auto;
  padding: auto;
  border: 20px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

audio {
  margin-top: 15px;
}
