body {
  font-family: "Rubik Wet Paint", system-ui;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 35%,
    rgba(253, 29, 29, 1) 68%,
    rgba(252, 176, 69, 1) 93%
  );
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(90deg, #ffd700, #ff8c00, #ffd700);

  background-clip: text;
  -webkit-text-stroke: 1px #d6189d;
  /* color: #333333ac; */
  text-shadow: 2px 2px #bbb, 4px 4px #aaa, 6px 6px #999, 8px 8px #888;
  color: #3a0213;
  text-shadow: 0 0 5px #fff, 0 0 10px #b8ee06, 0 0 15px #ff00ff;
  /* background-size: 200% 100%; */
  animation: distort 3s infinite ease-in-out;
  animation: flicker 2s infinite alternate;
  animation: shimmer 3s infinite linear;
  animation: wave 1.5s infinite ease-in-out;
}
@keyframes distort {
  0%,
  100% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(10deg);
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#mood {
  margin: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding: auto;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Rubik Wet Paint", system-ui;
  border: none;
  background-color: rgb(196, 102, 240);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f54dac;
  animation: spin 0.5s ease-in;
  font-size: 2em;
  color: orange;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14,
    0 0 40px #39ff14;
  background: #3a0213;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
